/* stylelint-disable selector-list-comma-newline-after */
@font-face{
  font-family: cousine;
  src: url('./assets/font/Cousine-Regular.ttf');
}
body{
  background: #343a40;
}
a{
  color: #fdefe2;
}
a:hover{
  color: #fdd000 !important;
  text-decoration: none;
}
.jumbotron-blog{
  background: rgba(255, 255, 255, 0.1);
  color: #fdefe2 !important;
}
.menu-text{
  font-size: 13px;
  color: #fdefe2 !important;
}

.cousine{
  font-family: cousine;
}

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #fdefe2;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
  color: #fdd000 !important;
}

.blog-header-logo:hover {
  text-decoration: none;
  color: #fdefe2 !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  padding: 2rem 1rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 20px;
  color: #fdd000;
  font-
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}
.blog-post-meta {
    margin-bottom: .25rem;
    font-size: 13px;
    color: #fdefe2;
    text-transform: uppercase;}

/*
 * Footer
 */
.blog-footer {
  padding: 2rem 1rem;
  color: #999;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  border-top: .05rem solid #e5e5e5;
  font-size: 13px;
  color: #fdefe2;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
.blog{
  color: #fdefe2;
  padding: 3rem 0;
  max-width: 700px;
  margin: auto;
}
.blog > .artikel-title{
  font-size: 25px;
  margin-bottom: 1rem;
}
.blog > h2{
  font-size: 21px;
  margin-top: 20px;
}
.blog .ct{
  font-size: 10px;
  color: #fdd000;
  font-variant-position: sub;
}
.blog > p{
  font-family: cousine;
  font-size: 12px;
  text-align: justify;
}
.blog br {
  margin: 1rem;
}
.blog ol {
  font-size: 12px;
  text-align: justify;
  font-family: cousine;
}
.blog li {
  margin-bottom: 10px;
}
